<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<title>All Users</title>
</head>
<body>
	<div id="content">

	</div><!-- /#content -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>
		$(document).ready(function(e) {
			let token = localStorage.getItem("token");
			var url = window.location.pathname;

			if (token !== null && typeof token !== 'undefined') {
				$.ajax({
					method:"GET",
					url: 'http://localhost:3000/api/users/',
					headers: {"token": token},
					success: function(result) {
						$("#content").text(JSON.stringify(result));
					},
					error: function(result) {
						window.location = "http://localhost:3000/?err=Please_Login_ADMIN";
					}
				});
			} else {
				window.location = "http://localhost:3000/?err=Please_Login_ADMIN";
			}
		})
	</script>
</body>
</html>